.tilesContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.5rem;
  min-height: 200px;
}

.tile {
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
}

.tileImage {
  object-fit: 'contain';
  max-width: 100%;
}