.navbar {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  height: 4rem;
  padding: 0 6rem;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.8);
  background: rgba(1, 1, 1, 0.5);
  background-color: white;
  width: 100vw;
  z-index: 1000;
} 

.icon {
  width: 2.5rem;
  background-color: white;
  padding: 4px;
  border: 1px solid black;
}

.socialIcon {
  width: 2.5rem;
  padding: 4px;
}

.navigationPages {
  height: 100%;
  padding: 0 1rem;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.navigationCategory, .navigationPage {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.navigationCategory:hover, .navigationPage:hover{
    color: white;
    background-color: blue;
}

.navigationCategory:hover + .navbarPopover {
  display: flex;
}

.navbarPopover:hover {
  display: flex;
}

.navigationCategory:hover::after {
  content: "-"
}

.navigationCategory::after {
  content: "+"
}

.navbarPopover {
  position: absolute;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  bottom: -1rem;
  display: none;
  top: 3rem;
  left: 0;
  width: 100%;
  background-color: white;
  height: fit-content;
  height: 200px;
  padding: 1rem;
}

.subNavigationItem {
  margin: 1rem;
}